# Scrapy and dependencies
scrapy>=2.11.0
itemadapter>=0.8.0

# Kafka
confluent-kafka==2.12.2
regex

# Spark
pyspark==3.4.3
spark==0.2.1
kafka-python==2.0.6

# Elasticsearch (optional, for direct testing)
# elasticsearch==8.18.0

# Batch Processing & Scheduling
apscheduler>=3.10.0

# Utilities
python-dotenv>=1.0.0